h2 {
    font-family: 'Montserrat', cursive;
}

.card-image{
    height: 200px;
    background-size:cover;
    background-position: center;
}

.btn-primary{
    background-color: red!important;
    border: none!important;
    display:block!important;
}

.container-cards {

    display: flex;

    flex-wrap: wrap;

    flex-direction: row;

    justify-content: center;

    align-items: center;



    .card {

      width: 23%;

      display: block;

      float: left;

      margin-right: 1%;

      margin-bottom: 25px;

    }

    .paginatore{
      width:100%;
      text-align:center;
    }

  }
