<div class="container-cards">
    <div class="paginatore" *ngIf="pag != 'home'">
      <h3>{{ricettePerPagina}}</h3>
      <p-paginator [rows]="ricettePerPagina" [totalRecords]="recipes.length" (onPageChange)="paginate($event)" (rowsPerPageOptionsChange)="ricettePerPagina"></p-paginator>
    </div>
    <div class="card" *ngFor="let recipe of recipes | slice: (page * ricettePerPagina) - ricettePerPagina : page * ricettePerPagina">
        <!-- <div class="card-image" style="background-image: url('../../../assets/images/carousel-1.jpg');"></div> -->
        <div class="card-image" [ngStyle]="{'background-image' : 'url(' + recipe.image + ')' }" (click)="inviaMessaggio(recipe.title)"></div>
        <div class="card-body">
          <h5 class="card-title">{{recipe.title | uppercase}}</h5>
          <p class="card-text">{{recipe.description | slice: 0:250}}...</p>
          <a *ngIf="!pag" routerLink="dettaglio/{{recipe.title}}/{{recipe._id}}" class="btn btn-primary">Dettaglio</a>
          <a *ngIf="pag" routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}" class="btn btn-primary">Visualizza</a>
        </div>
    </div>
</div>
