.container-image {
  height: 300px;
  margin-top: -20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.stelline {
  width: 150px;
}
.title-summary{
  margin-top: 10px !important;
}
.col-auto{
  text-align: justify!important;
}
.col-data{
  text-align: right;
  font-size: 10px;
  font-weight: bold;
}
