/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/material-icons/iconfont/material-icons.scss";

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
margin-bottom: 20px;
}

.titolo {
  font-family: 'Homemade Apple', cursive;
  font:26px;
  font-weight: bold;
}

.p-password {
  display: block!important;
}

.p-inputtext, .p-password-input {
  width: 100%!important;
}
