.titolo {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
}
.messaggio-ricevuto {
  text-align: center;

  color: #8e210b;

  margin-top: -28px;

  font-size: 19px;
}
